*{
  margin:0;
  padding:0;
  outline: 0;
  box-sizing: border-box;
}
body{
  height:100%;
  width:100%;
}
.backImage{
  background: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover; 
}
img{
  display: block;
  width: 100%;
}
.selfie-image,.selfie-circle{
   position: absolute;
   height: 100%;
   width:70%;
   border-radius: 50%;
}
.error-msg{
  color:red;
  font-size: 24px;
}

@media screen and (max-width:500px){
  .error-msg{
    color:red;
    font-size: 16px;
  }
}
@media screen and (min-width:500px){
  .error-msg{
    color:red;
    font-size: 18px;
  }
}
@media screen and (min-width:800px){
  .error-msg{
    color:red;
    font-size: 20px;
  }
}
.conditionText{
   font-size: 26px;
}
@media screen and (max-width:400px){
  .conditionText,.span{
    font-size: 18px;
 }
}
@media screen and (max-width:300px){
  .conditionText,.span{
    font-size: 14px;
 }
}


@media screen and (max-width:400px){
  input[type="checkbox"]{
    width: 50px; 
    height: 30px; 
  }
}

.camera-icon{
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:30%;

}

/* unique css */
.button-design{
  background: #007DC4;
  color:white;
  font-size: 20px;
  width:38%;
  height:90%;
  border-radius: 8px;
  font-weight: 600;
  font-style:inherit;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#submit_button[disabled]
{
  border: 1px solid #999999;
  background-color: #89CFF0;
  color: #f0f0f0;
}
.p-dynamic-text{
   color:#007DC4;
   font-size: 22px;
   font-weight: 800;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.center-content-flex{
  display:flex ;
  justify-content: center;
  align-items: center;
}
.center-content-tr{
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}
.acidity-text-div{
  width:80%;
  height:50%;
}
.textField{
   width:70%;
   height:60%;
   border-radius: 8px;
   padding: 10px;
   border:1.5px solid #007DC4;
}
  input::-webkit-input-placeholder {
    color: red 
  }
  input[type="checkbox"]{
    width: 50px; 
    height: 25px; 
  }
