*{
  margin:0;
  padding:0;
  outline: 0;
  box-sizing: border-box;
}
body{
  height:100%;
  width:100%;
  /* background: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
.backImage{
  background: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover; 
}
img{
  display: block;
  width: 100%;
}
.modalBack{
  background: url("../src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.selfie-image,.selfie-circle{
   position: absolute;
   height: 100%;
   width:70%;
   border-radius: 50%;
}
.error-msg{
  color:red;
  font-size: 24px;
}

@media screen and (max-width:500px){
  .error-msg{
    color:red;
    font-size: 16px;
  }
}
@media screen and (min-width:500px){
  .error-msg{
    color:red;
    font-size: 18px;
  }
}
@media screen and (min-width:800px){
  .error-msg{
    color:red;
    font-size: 20px;
  }
}

@media screen and (max-width:400px){
  .selfie-image,.selfie-circle{
    height:80%;
    margin-top: 30px;
    margin-left: 48px;
}}
 @media screen and (max-width:550px){
  .selfie-image,.selfie-circle{
    height:80%;
    margin-top: 20px;
    margin-left: 48px;
}} 
 @media screen and (min-width:551px){
  .selfie-image,.selfie-circle{
    height: 100%;
    width:60%;
    margin-left: 108px;
 }
}
.textFieldSize{
  width:55%;
  height:70%;
}
input::-webkit-input-placeholder {
  font-size: 26px;
}
.inputSize{
   font-size: 26px;
}
.acidity-text-div{
  width:80%;
  height:50%;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
}
.conditionText{
   font-size: 26px;
}
@media screen and (max-width:400px){
  .conditionText,.span{
    font-size: 18px;
 }
}
@media screen and (max-width:300px){
  .conditionText,.span{
    font-size: 14px;
 }
}
@media screen and (max-width:300px){
  input::-webkit-input-placeholder {
    font-size: 14px;
  }
}
@media screen and (max-width:400px){
  input::-webkit-input-placeholder {
    font-size: 18px;
  }
}

@media screen and (max-width:2000px){
  .textFieldSize{
     width: 80%;
  }
}
input[type="checkbox"]{
  width: 60px; 
  height: 30px; 
}
@media screen and (max-width:400px){
  input[type="checkbox"]{
    width: 50px; 
    height: 30px; 
  }
}
.btn{
  font-weight: 600;
}
@media screen and (max-width:300px){
  .btn{
    padding:10px 20px ;
    font-size: 10px;
  }
}
@media screen and (min-width:300px){
  .btn{
    padding:10px 24px ;
    font-size: 14px;
  }
}
@media screen and (min-width:500px){
  .btn{
    padding:16px 30px ;
    font-size: 24px;
  }
}
@media screen and (min-width:1000px){
  .btn{
    padding:10px 26px ;
    font-size: 20px;
  }
}
.camera-icon{
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:30%;

}


